body {
  --gray-0: rgb(0, 0, 0);
  --gray-1: rgba(0, 0, 0, 0.7);
  --gray-2: rgba(0, 0, 0, 0.4);
  --blue-0: rgb(20, 80, 160);
  --blue-1: rgba(20, 80, 160, 0.7);
  --blue-2: rgba(20, 80, 160, 0.4);
  color: var(--gray-0);
}
* {
  max-width: 100%; /* make ellipsis work */
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  transition: color 0.05s;
}
span {
  display: inline-block; /* make ellipsis work */
}
p {
  font-family: 'Times New Roman', Times, serif;
}
fieldset {
  margin: 0;
  padding: 0;
  width: var(--fieldsetWidth);
  height: var(--fieldsetHeight);
  position: relative;
  border: var(--fieldsetBorder);
  border-radius: 4px;
  cursor: text;
  --fieldsetWidth: 200px;
  --fieldsetHeight: 46px;
  --fieldsetBorder: 1px solid var(--gray-2);
  --labelColor: var(--gray-1);
  --labelMarginLeft: 8px;
}
fieldset:hover {
  --fieldsetBorder: 1px solid var(--gray-1);
  --labelColor: var(--gray-1);
}
fieldset:focus-within {
  --fieldsetBorder: 2px solid var(--blue-0);
  --labelColor: var(--blue-0);
  --labelMarginLeft: 7px;
}
fieldset legend {
  color: var(--labelColor);
  user-select: none;
  font-size: 12px;
  margin-left: var(--labelMarginLeft);
  padding-inline: 4px;
  max-width: var(--fieldsetWidth);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
fieldset input {
  position: absolute;
  background: none;
  top: -9px;
  left: 0;
  border: none;
  outline: none;
  width: 100%;
  height: calc(var(--fieldsetHeight) - 9px);
  padding-inline: calc(4px + var(--labelMarginLeft)) 8px;
}
