/* nav menu */
.navMenu {
  padding: 2px 4px;
}
.navMenu .divider {
  margin-block: 2px;
}
/* docs */
.displayRow {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
  border-radius: 8px;
}
.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
  gap: 0;
  border-radius: 8px;
}
.wideDisplayRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
  border-radius: 8px;
}
code {
  background: lightgray;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 8px;
}
