/* nav menu */
.nav-menu {
  padding: 2px 4px;
  row-gap: 4px;
}
.nav-menu .divider {
  margin-block: 2px;
}
/* docs */
.display-row {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.display-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  border-radius: 8px;
}
.wide-display-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.wide-display-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  border-radius: 8px;
}

/* js formatter */
code {
  border-radius: 8px;
  background: #121212;
  padding: 4px 24px 4px 8px;
  color: #AAAAAA;
  font-family: 'Consolas', monospace;
}
code * {
  font-size: 18px;
  line-height: 23px;
}
[data-token-group="keyword"] {
  color: #CCCCCC;
}
[data-token-group="number"] {
  color: #98DFBA;
}
[data-token-group="boolean"] {
  color: #56B6C2;
}
[data-token-group="string"], [data-token-group="interpolated-string"] {
  color: #00AB6F;
}
[data-token-group="single-line-comment"], [data-token-group="multi-line-comment"] {
  color: #57A90A;
}
/* TODO: bracket colors */
